{% extends "base.html" %}
{% block title %}
Lista Produktów
{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Lista produktów:</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <p class="card-text">
                        ID: {{ product.product_id }}<br>
                        Średnia ocen: {{ product.average_stars | round(1) }}
                        <span class="ms-2">
                            {% set stars = product.average_stars %}
                            {% if stars % 1 >= 0.5 %}
                                {% set stars = stars | round(0, 'floor') + 1 %}
                            {% else %}
                                {% set stars = stars | round(0, 'floor') %}
                            {% endif %}
                            {% for i in range(stars | int) %}
                                ⭐
                            {% endfor %}
                        </span><br>
                        Liczba opinii: {{ product.opinions_count }}<br>
                        <span class="text-success">Liczba zalet: {{ product.pros_count }}</span> | <span class="text-danger">Liczba wad: {{ product.cons_count }}</span>
                    </p>
                    <div class="d-flex w-100 justify-content-between">
                        <a href="{{ url_for('product', product_id=product.product_id) }}" class="btn btn-primary btn-sm w-auto fs-6 d-flex align-items-center justify-content-center text-center">Zobacz szczegóły</a>
                        <a href="{{ url_for('download_json', product_id=product.product_id) }}"
                        class="btn btn-secondary btn-sm ms-2 fs-6 d-flex align-items-center">
                         <img src="{{ url_for('static', filename='icons/download_icon.png') }}" alt="JSON" width="20" height="20" class="me-2">
                         Pobierz JSON
                     </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}